<p-dialog [(visible)]="display" [style]="{width: '450px'}" [header]="title" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="field">
            <label for="name">Nombre Región</label>
            <input type="text" pInputText id="name" [(ngModel)]="region.regionName" required autofocus />
            <small class="p-error" *ngIf="!region.regionName">El nombre es requerido.</small>
        </div>

        <div class="field-checkbox" *ngIf="!isNew">
            <p-checkbox [(ngModel)]="region.isActive" [binary]="true" inputId="binary"></p-checkbox>
            <label for="binary" class="ml-2">Activo</label>
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="display=false"></button>
        <button pButton pRipple label="Guardar" icon="pi pi-check" class="p-button-text" (click)="save()" [loading]="loading"></button>
    </ng-template>
</p-dialog>